<div class="footer-container"
     fxFlexLayout="row"
     fxFlexLayout.xs="column" fxFlexLayout.sm="column">

  <div class="copyright-container" fxFlex="60" fxFlex.xs="100" fxFlex.sm="100">
    <!-- Mobile screen shows this on top -->
    <span class="call-us" fxHide fxHide.xs="false" fxHide.sm="false">Need immediate assistance? <b>Call us: <a href="tel:8886043188">888.604.3188</a></b></span>
    
    &copy; Copyright 2010 - 2014 Toptal, LLC Privacy Policy, Terms of Service
  </div>

  <div class="pull-right"
       fxFlex fxHide.xs="true" fxHide.sm="true">
    Need immediate assistance? <b>Call us: <a href="tel:8886043188">888.604.3188</a></b>
  </div>
</div>