.toptal-app {
  .mat-button {
    border: 1px solid $button-border;
    border-radius: 4px;
    background-image: $button-background;
    box-shadow: $button-shadow;
    padding: 13px 17px;
    margin: 0 3.5px;
    line-height: 12px;
    font-size: 12px;
    text-transform: uppercase;
    color: $white;;
    font-weight: bold;
    text-shadow: $text-shadow;

    &.lg-button {
      font-size: 16px;
      font-weight: $font-light-weight;
      text-transform: none;
      padding: 16px 20px;
      width: 100%;
    }
  }
}
