.toptal-app {
  .footer-container {
    color: $white;
    font-size: 15px;
    background-color: $toptal-blue;
    padding: 70px 16px;
    text-shadow: $text-shadow;

    /* Sticks footer to the bottom */
    position: absolute;
    width: 100%;
    bottom: 0;

    a {
      color: $white;
      text-decoration: none;

      &:hover,
      &:visited {
        opacity: 0.8;
      }
    }
  }
}