.toptal-app {
  .footer-container {
    color: $white;
    font-size: 15px;
    background-color: $toptal-blue;
    padding: 70px 16px;
    text-shadow: $text-shadow;

    /* Sticks footer to the bottom */
    margin-top: 100px;

    a {
      color: $white;
      text-decoration: none;

      &:hover,
      &:visited {
        opacity: 0.8;
      }
    }

    .call-us {
      display: block;
      padding-bottom: 15px;
    }
  }
}