.toptal-app {
  .mat-toolbar {
    background-color: $toolbar-white;
    color: $toptal-blue;
    border-top: solid 4px transparent;
    -moz-border-image: -moz-linear-gradient(left, $toolbar-border-top);
    -webkit-border-image: -webkit-linear-gradient(left, $toolbar-border-top);
    border-image: linear-gradient(to right, $toolbar-border-top);
    border-image-slice: 1;

    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    
    min-width: 320px;

    .toolbar-container {
      width: 100%;
    }
    
    .logo {
      width: 105px;
      height: 35px;
      margin: 2px 0;
    }

    .first-row {
      border-bottom: 1px solid $toolbar-gray;
      min-width: 320px;
    }

    a {
      font-size: 14px;
      color: $toolbar-link-color;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      margin: 0 7.5px;

      &:hover,
      &:visited {
        opacity: 0.8;
      }

      &.join-toptal {
        color: $toolbar-link-join;
      }
    }

    .second-row {
      color: $toolbar-light-gray;
      font-size: 13px;
      text-transform: uppercase;
      line-height: 13px;
      height: 45px;

      a {
        font-weight: normal;
      }

      .call-us {
        color: $toolbar-link-join;
        font-weight: bold;

        a {
          color: $toolbar-link-join;
          font-weight: bold;
          text-decoration: underline;
          text-decoration-color: $toolbar-light-gray;
        }
      }
    }
    
  }

  .menu-link {
    cursor: pointer;
  }
  
  .responsive-option {
    border-bottom: 1px solid $toolbar-gray;
    padding: 10px 16px;
    background-color: $toolbar-white;
    text-align: center;

    a {
      text-transform: uppercase;
      color: $toptal-gray;
      text-decoration: none;
    }
  }

  .call-us-responsive {
    background-color: $toolbar-white;
    padding: 5px 16px;
    color: $toolbar-link-join;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;

    a {
      color: $toolbar-link-join;
      font-weight: bold;
      text-decoration: underline;
      text-decoration-color: $toolbar-light-gray;
    }
  }
}