body {
  font-family: $font-family;
  color: $toptal-light-gray;
  font-size: 15px;
  line-height: 20px;
}

h1 {
  color: $toptal-blue;
  text-align: center;
}

h2 {
  font-size: 18px;
  color: $toptal-gray;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: $toptal-light-gray;
  text-align: center;
}
