body {
  font-family: $font-family;
  font-size: 15px;
  line-height: 20px;
}

a {
  font-family: $font-family;
  &.bold {
    font-weight: $font-bold-weight !important; 
  }
}

b {
  font-weight: $font-bold-weight; 
}

h1 {
  font-family: $font-family;
  font-weight: $font-bold-weight;
  font-size: 45px;
  line-height: 45px;
  color: $notable-blue;
  text-align: center;
  text-align: left;
}

h2 {
  font-family: $font-family;
  font-weight: $font-light-weight !important;
  font-size: 18px;
  line-height: 20px;
  color: $notable-gray;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: $notable-light-gray;
  text-align: center;
}
