$white: rgb(255,255,255);
$black-transluscent: rgba(0,0,0,0.5);
$notable-blue: #3b67a7;
$notable-light-blue: #5c88c8;
$notable-gray: #525252;
$notable-light-gray: #a9a9a9;
$text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);

$top-spacing: 50px;

$font-family: 'Roboto', sans-serif;
$font-light-weight: 300;
$font-bold-weight: 500;

$toolbar-white: #fcfcfc;
$toolbar-gray: rgba(0, 0, 0, 0.09);
$toolbar-light-gray: #c9c9c9;
$toolbar-link-color: $notable-light-gray;
$toolbar-link-join: $notable-gray; 
$toolbar-border-top: $notable-light-blue 0%, $notable-light-blue 12.5%,
                     $notable-blue 12.5%, $notable-blue 37.5%,
                     $notable-light-blue 37.5%, $notable-light-blue 62.5%, 
                     $notable-blue 62.5%, $notable-blue 62.5%,
                     $notable-blue 87.5%, $notable-light-blue 87.5%;

$button-border: rgb(24, 125, 86);
$button-background: linear-gradient( 90deg, rgb(49,184,132) 0%, rgb(60,200,146) 100%);
$button-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05),inset 0px 2px 0px 0px rgba(255, 255, 255, 0.22);

$input-border: rgb(238, 238, 238);
$input-background: #fafafa;
$input-placeholder: $notable-light-gray;
$input-icon: #e1e1e1;