@import '../../../styles/variables';

.team-container {
  margin-top: $top-spacing;
}

.team-section {
  width: 70%;
  margin: 0 15%;
  margin-top: $top-spacing;

  .team-image {
    background-image: url("/assets/team-member.png");
    border-radius: 4px;
    width: 124px;
    height: 124px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .name {
    color: $toptal-blue;
  }
}

