@import '../../../styles/variables';

.team-section {
  margin-top: $top-spacing;

  .team-image {
    background-image: url('/assets/team-member.png');
    border-radius: 4px;
    width: 124px;
    height: 124px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .name {
    color: $toptal-blue;
  }
}

