<div class="container"
     fxLayout="column">
  <div fxFlex>
    <h2>Meet the Toptal Leader team</h2>
  </div>

  <div class="team-section"
       fxFlex>
    <div fxLayout="row wrap"
         fxLayoutAlign="start"
         fxLayoutGap="50px"
         fxLayoutGap.sm="20px"
         fxLayoutGap.xs="0">
      <div class="team-image-container" fxFlex fxFlex.sm="calc(30% - 20px)">
        <div class="team-image"></div>
        <div class="pull-center">
          <span class="name">Luboš Volkov</span><br>
          New Zealand
        </div>
      </div>

      <div class="team-image-container" fxFlex fxFlex.sm="calc(30% - 20px)">
        <div class="team-image"></div>
        <div class="pull-center">
          <span class="name">Michal Vasko</span><br>
          Slovakia
        </div>
      </div>

      <div class="team-image-container" fxFlex fxFlex.sm="calc(30% - 20px)">
        <div class="team-image"></div>
        <div class="pull-center">
          <span class="name">Yummygum</span><br>
          Sweden
        </div>
      </div>

      <div class="team-image-container" fxFlex fxFlex.sm="calc(30% - 20px)">
        <div class="team-image"></div>
        <div class="pull-center">
          <span class="name">Nicollas Will</span><br>
          USA
        </div>
      </div>

      <div class="team-image-container" fxFlex fxFlex.sm="calc(30% - 20px)">
        <div class="team-image"></div>
        <div class="pull-center">
          <span class="name">Hanna Aase</span><br>
          Russia
        </div>
      </div>

    </div>
  </div>

</div>
