<div fxLayout="row" fxLayoutGap="10px">
  <mat-form-field fxFlex="50%">
    <input matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field fxFlex="50%">
    <input matInput placeholder="Email">
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutGap="10px">
  <mat-form-field fxFlex="50%">
    <input matInput placeholder="City & Country">
  </mat-form-field>

  <mat-form-field fxFlex="50%">
    <input matInput placeholder="Twitter">
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutGap="10px">
  <mat-form-field fxFlex="100%">
    <textarea matInput placeholder="Comment"></textarea>
  </mat-form-field>
</div>

<div fxLayout="row">
  <div fxFlexOffset="75%" fxFlex="25%">
    <button mat-button>Submit</button>
  </div>
</div>
