<div fxLayout="row" fxLayoutGap="10px">
  <mat-form-field fxFlex="50%" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field fxFlex="50%" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutGap="10px">
  <mat-form-field fxFlex="50%" appearance="outline">
    <mat-label>City & Country</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field fxFlex="50%" appearance="outline">
    <mat-label>Twitter</mat-label>
    <input matInput>
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutGap="10px">
  <mat-form-field fxFlex="100%" appearance="outline">
    <mat-label>Comment</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>

<div fxLayout="row">
  <div fxFlexOffset="75%" fxFlex="25%" appearance="outline">
    <button class="lg-button" mat-button>Submit</button>
  </div>
</div>
