<div fxLayout="column"
      class="sample-profiles-container">
  <div fxFlex>
    <h2>Become Toptal leader today</h2>
  </div>

  <div fxFlex>
    <div fxLayout="row">
      <div fxFlex>
        <ul>
          <li>Ajax Developers</li>
          <li>Android Developers</li>
          <li>AngularJS Developers</li>
          <li>API Developers</li>
          <li>ASP.NET Developers</li>
          <li>ASP.NET MVC Developers</li>
          <li>Backbone.js Developers</li>
          <li>C Developers</li>
          <li>C# Developers</li>
          <li>C++ Developers</li>
          <li>CakePHP</li>
          <li>DevelopersCocoa</li>
          <li>DevelopersCoffeeScript</li> 
          <li>DevelopersDevOps</li>
        </ul>
      </div>

      <div fxFlex>
        <ul>
          <li>Drupal Developers</li>
          <li>Erlang Developers</li>
          <li>Express.js Developers</li>
          <li>F# Developers</li>
          <li>Flash Developers</li>
          <li>Front-end Developers</li>
          <li>Grails Developers</li>
          <li>Groovy Developers</li>
          <li>Hadoop Developers</li>
          <li>Hibernate Developers</li>
          <li>HTML5 Developers</li>
          <li>iOS Developers</li>
          <li>Java EE Developers</li>
          <li>JavaScript Developers</li>
        </ul>
      </div>

      <div fxFlex>
        <ul>
          <li>Machine Learning Developers</li>
          <li>MATLAB Developers</li>
          <li>MSSQL Developers</li>
          <li>MySQLDevelopers</li>
          <li>NET Developers</li>
          <li>Node.js Developers</li>
          <li>Objective-C Developers</li>
          <li>OpenGL Developers</li>
          <li>Perl Developers</li>
          <li>PHP Developers</li>
          <li>PostgreSQL Developers</li>
          <li>PyObjc Developers</li>
          <li>PyQT Developers</li>
          <li>Python Developers</li>
        </ul>
      </div>

      <div fxFlex>
        <ul>
          <li>SalesForce Developers</li>
          <li>Scala Developers</li>
          <li>Sharepoint Developers</li>
          <li>Silverlight Developers</li>
          <li>Socket.IO Developers</li>
          <li>Spring Developers</li>
          <li>SQL Developers</li>
          <li>Struts Developers</li>
          <li>Sys Admin Developers</li>
          <li>Unity or Unity3D Devel</li>
          <li>VB.NET Developers</li>
          <li>Visual Studio Develope</li>
          <li>WordPress Developers</li>
          <li>XCode Developers</li>
        </ul>
      </div>

    </div>
  </div>
</div>
