<div class="join-toptal-container"
     fxLayout="column">
  <div fxFlex>
    <h1>Join the Toptal Leaders</h1>
  </div>
  <div class="join-section"
       fxFlex>
    Join the ranks of an ever-growing international community through hosting exclusive events, attending popular conferences and seminars, and crafting widely-shared quality content. The Toptal Leaders are the driving force in expanding the Toptal network by creating unique experiences and locating the most exceptional talent.
  </div>
  <div fxFlex>
    [ CAROUSEL HERE ]
  </div>

  <div fxFlex>
    <h2>Why become a Toptal Leader?</h2>
  </div>
  <div class="join-section"
       fxFlex>
    <div fxLayout="row"
         fxLayoutGap="5%">
      <div fxFlex>
        <div></div>
        <hr class="divider">
        <div class="why-column">
          Lead your community by hosting exclusive events, doing targeted outreach and engaging with your network while leveraging Toptal's growing international brand.
        </div>
      </div>
      <div fxFlex>
          <div></div>
          <hr class="divider">
          <div class="why-column">
            Help build our community of extraordinery  talent as a Toptal ambassador in your city. Be the foundation for growth and launch your profile's presence.
          </div>
      </div>
      <div fxFlex>
        <div></div>
        <hr class="divider">
        <div class="why-column">
          Become a prominent thought leader in your local engineering community. Be recognized for networking the brightest and most innovative minds together. Work with an incredible team from across the globe. Receive more opportunities to work on client projects. Earn commissions as your Toptal community grows.
        </div>
      </div>
    </div>
  </div>

</div>