@import '../../../styles/variables';

.join-toptal-container {
  margin-top: $top-spacing;
}

.join-section {
  width: 70%;
  margin: 0 15%;
}

.why-column {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for WebKit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
      hyphens: auto;
}

.image-section {
  margin-top: $top-spacing;
}

.why-image {
  width: 70%;
}


.divider {
  width: 80%;
  border: 0;
  border-top: 4px solid #d4d4d4;
  margin: 25px auto;
}